body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-image: url("images/haunted-house.png");

  overflow: hidden;

  color: white;
  font-family: Arial;
  text-align: center;

  transition: background 1s ease;
}

.game-container {
  max-width: 600px;
  width: 90%;

  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;

  margin: auto;
}


#story {
  white-space: pre-line;
  line-height: 1.6;
  font-size: 18px;

  margin: 20px 0;

  animation: fadeIn 1s ease-in;
}

#choices {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

#choices.single {
  top: auto;
  bottom: 40px;
  transform: none;
  justify-content: center;
}

#choices button {
  pointer-events: auto;
  padding: 16px 32px;
  font-size: 18px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 180px;
  max-width: 300px;
}

#choices button:hover {
  background-color: red;
  transform: scale(1.1);
  box-shadow: 0 0 15px red;
}


#restart {
  display: none;
  background-color: black;
  border: 1px solid white;
  margin-top: 15px;
}


#health {
  position: fixed;
  top: 20px;
  right: 30px;

  background: rgba(0,0,0,0.6);
  padding: 10px 15px;
  border-radius: 8px;

  font-size: 18px;
  z-index: 100;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}